# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/

# Environment variables
.env

# macOS and system files
.DS_Store

# VSCode or PyCharm config folders
.vscode/
.idea/

# Log files
*.log

models/
